@import '../sidebar/sidebar';
// @import '../../common/login/login';

.navbar {
  display        : flex;
  justify-content: space-between;
  align-items    : center;

  .navbar__logo {
    display: block;
  }

  .navbar__login {
    position: relative;
  }
}