:root {

  // --font-brand : white;
  // --font-dark  : #161e2a;
  // --font-light : white;
  // --font-button: #ff0d58;

  --font-light : white;
  --font-dark  : #0a0f17;
  --font-accent: #ff0d58;

  --brand-9: #0f141c;
  --brand-8: #161e2a;
  --brand-7: #1c2533;
  --brand-6: #1e293b;
  --brand-5: #e3e8ef;
  --brand-4: #edf1f7;
  --brand-3: #f5f7fb;
  --brand-2: #fafbfd;
  --brand-1: #fcfdfd;
  --brand-0: #ffffff;


  --neutral-9: #192252;
  --neutral-8: #2A3563;
  --neutral-7: #424F7B;
  --neutral-6: #606D93;
  --neutral-5: #848FAC;
  --neutral-4: #A9B4CD;
  --neutral-3: #C5D0E6;
  --neutral-2: #DFE8F6;
  --neutral-1: #EFF3FA;

  --success-9: #16671A;
  --success-8: #2B7D25;
  --success-7: #479B36;
  --success-6: #66B949;
  --success-5: #89D860;
  --success-4: #AFE786;
  --success-3: #C9F3A0;
  --success-2: #E1FBC1;
  --success-1: #F2FDDF;

  --error-9: #7A0925;
  --error-8: #930F25;
  --error-7: #B71926;
  --error-6: #DB2424;
  --error-5: #FF4332;
  --error-4: #FF7E65;
  --error-3: #FFA283;
  --error-2: #FFC7AD;
  --error-1: #FFE6D6;

  --warning-9: #736B16;
  --warning-8: #8C821D;
  --warning-7: #AEA227;
  --warning-6: #CFC331;
  --warning-5: #F1E43A;
  --warning-4: #F7ED59;
  --warning-3: #FCF476;
  --warning-2: #FEFAA2;
  --warning-1: #FFFCD0;

  --information-9: #003778;
  --information-8: #014D90;
  --information-7: #006DB4;
  --information-6: #0091D8;
  --information-5: #00BAFB;
  --information-4: #2CD6FC;
  --information-3: #5FE7FD;
  --information-2: #98F5FE;
  --information-1: #CCFDFE;
}
