.advertising-form {
  display: grid;
  gap    : 0.5rem;

  &__list {
    border: 0.1px solid var(--neutral-3);

    &-container {
      list-style: none;
      margin    : 0;
      padding   : 0;
      display   : grid;

      .selected {
        background-color: var(--neutral-2);
      }

      .advertising-form__list-item {
        display              : grid;
        grid-template-columns: 1fr repeat(7, 5rem);


        &.phone {
          grid-template-columns: 1fr repeat(7, 1.5rem);
        }


        button {
          all             : unset;
          height          : 100%;
          width           : 100%;
          display         : flex;
          justify-content : center;
          align-items     : center;
          background-color: var(--brand-6);
          cursor          : pointer;
        }

        >div {
          border         : 0.1px solid var(--neutral-2);
          display        : flex;
          justify-content: center;
          align-items    : center;
        }

        .title {
          color          : var(--information-8);
          justify-content: flex-start;
        }

        .item-title {
          font-weight    : bold;
          text-align     : center;
          display        : flex;
          justify-content: center;
          align-items    : center;
        }
      }
    }
  }

  &__input {
    display: grid;
    gap    : 0.5rem;

    &.tablet {
      grid-template-columns: repeat(2, 1fr);
    }

    &.desktop {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__button {
    display        : grid;
    justify-content: end;

    >div {
      display: flex;
      width  : 10rem;
      gap    : 1rem;
    }
  }
}







// .list {
//   display       : flex;
//   flex-direction: column;
// }

// .list-header {
//   display    : flex;
//   font-weight: bold;
// }

// .list-header>div {
//   flex   : 1;
//   padding: 8px;
//   border : 1px solid #ddd;
// }

// .list-body {
//   display       : flex;
//   flex-direction: column;
// }

// .list-item {
//   display   : flex;
//   // cursor : pointer;
// }

// .list-item.selected {
//   background-color: #e0e0e0;
// }

// .list-item>div {
//   flex   : 1;
//   padding: 8px;
//   border : 1px solid #ddd;
// }

// .item-title {
//   display       : flex;
//   // font-weight: bold;
//   color         : #0066cc;
// }