.product-creation-list {
  border    : 1px solid #ccc;
  padding   : 1rem;
  max-height: 15rem;
  overflow-y: auto;

  &__title {
    margin-bottom: 0.5rem;
    font-size    : 1.2rem;
    display      : flex;

    &-new-department {
      margin-left: auto;
    }
  }

  &__content {
    list-style: none;
    padding   : 0;
    margin    : 0;
  }

  &__item {
    display      : flex;
    align-items  : center;
    // padding: 0.5rem 0;
    border-bottom: 1px solid #eee;

    &:nth-child(odd) {
      background-color: var(--brand-2);
      /* Color claro para las filas impares */
    }

    &:nth-child(even) {
      background-color: var(--brand-3);
      /* Color oscuro para las filas pares */
    }
  }
}






.product-creation-list__edit,
.product-creation-list__delete,
.product-creation-list__add {
  margin-left: 0.5rem;
}