.product-creation__form {
  // position        : fixed;
  // background-color: red;
  top             : 0;
  left            : 0;
  max-width       : 100vw;
  width           : 100%;
  height          : 100%;
  padding         : 1rem;


  >h3 {
    text-align: center;

  }

  >form {

    >div {
      // display  : grid;
      // max-width: 100vw;

    }
  }
}