.PasswordChange__form--container {
  min-height: 100vh;
  display: grid;
  place-content: center;
}
.PasswordChange__form--container .PasswordChange__form--content {
  display: grid;
  gap: 0.5rem;
  max-width: 18rem;
  margin: 2rem 0;
}
.PasswordChange__form--container .PasswordChange__form--content header {
  display: grid;
  place-items: center;
}
.PasswordChange__form--container .PasswordChange__form--content header > h2 {
  margin: 0.2rem 0;
}
.PasswordChange__form--container .PasswordChange__form--content header p {
  text-align: center;
}
.PasswordChange__form--container .PasswordChange__form--content main {
  display: grid;
  gap: 0.5rem;
}
.PasswordChange__form--container .PasswordChange__form--content main .form__input--content {
  display: grid;
  gap: 0.5rem;
}
.PasswordChange__form--container .PasswordChange__form--content main .form__error-back--content p {
  text-align: center;
  color: var(--error-6);
}
.PasswordChange__form--container .PasswordChange__form--content main .form__error-back--content p span {
  color: var(--error-7);
  font-weight: bold;
  font-style: italic;
}
.PasswordChange__form--container .PasswordChange__form--content main .form__button--content {
  display: grid;
  gap: 1rem;
}
.PasswordChange__form--container .PasswordChange__form--content main .form__button--content .button__reset--content {
  text-align: right;
}

.spinner {
  animation: rotate 2s linear infinite;
}
.spinner .path {
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
.login__success--container {
  background-color: var(--success-2);
  display: grid;
  place-items: center;
  position: fixed;
  top: 2%;
  left: 20%;
  right: 20%;
  border-radius: 1rem;
  border: 1px solid var(--success-3);
}
.login__success--container h2 {
  color: var(--success-9);
  margin-bottom: 0;
}
.login__success--container p {
  margin-top: 0;
  color: var(--success-8);
}

.registre__form--container {
  min-height: 100vh;
  display: grid;
  place-content: center;
}
.registre__form--container .registre__form--content {
  display: grid;
  gap: 0.5rem;
  max-width: 18rem;
  margin: 2rem 0;
}
.registre__form--container .registre__form--content header {
  display: grid;
  place-items: center;
}
.registre__form--container .registre__form--content header h2 {
  margin: 0.2rem 0;
}
.registre__form--container .registre__form--content header p {
  text-align: center;
}
.registre__form--container .registre__form--content main {
  display: grid;
  gap: 0.5rem;
}
.registre__form--container .registre__form--content main .form__input--content {
  display: grid;
  gap: 0.5rem;
}
.registre__form--container .registre__form--content main .form__error-back--content p {
  text-align: center;
  color: var(--error-6);
}
.registre__form--container .registre__form--content main .form__error-back--content p span {
  color: var(--error-7);
  font-weight: bold;
  font-style: italic;
}
.registre__form--container .registre__form--content main .form__button--content {
  display: grid;
  gap: 1rem;
}
.registre__form--container .registre__form--content main .form__button--content .button__reset--content {
  text-align: right;
}

.registre__loading--container {
  display: grid;
  place-content: center;
  min-height: 100vh;
  width: 100vw;
}

.registre__success--container {
  display: grid;
  place-content: center;
  min-height: 100vh;
  width: 100vw;
}
.registre__success--container h2 {
  color: var(--font-brand);
}
.registre__success--container > div {
  max-width: 30rem;
  box-shadow: 0px 0px 18px var(--neutral-2);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border-radius: 1rem;
}
.registre__success--container > div p:nth-child(3) {
  text-align: justify;
}
.registre__success--container > div span {
  font-style: italic;
  font-weight: bold;
  color: var(--brand-7);
}
.registre__success--container > div .success--button {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.reset__form--container {
  min-height: 100vh;
  display: grid;
  place-content: center;
}
.reset__form--container .reset__form--content {
  display: grid;
  gap: 0.5rem;
  max-width: 18rem;
  margin: 2rem 0;
}
.reset__form--container .reset__form--content header {
  display: grid;
  place-items: center;
}
.reset__form--container .reset__form--content header h2 {
  margin: 0.2rem 0;
}
.reset__form--container .reset__form--content header p {
  text-align: center;
}
.reset__form--container .reset__form--content main {
  display: grid;
  gap: 0.5rem;
}
.reset__form--container .reset__form--content main .form__input--content {
  display: grid;
  gap: 0.5rem;
}
.reset__form--container .reset__form--content main .form__error-back--content p {
  text-align: center;
  color: var(--error-6);
}
.reset__form--container .reset__form--content main .form__error-back--content p span {
  color: var(--error-7);
  font-weight: bold;
  font-style: italic;
}
.reset__form--container .reset__form--content main .form__button--content {
  display: grid;
  gap: 1rem;
}
.reset__form--container .reset__form--content main .form__button--content .button__reset--content {
  text-align: right;
}

.reset__success--container {
  background-color: var(--success-2);
  display: grid;
  place-items: center;
  position: fixed;
  top: 2%;
  left: 20%;
  right: 20%;
  border-radius: 1rem;
  border: 1px solid var(--success-3);
}
.reset__success--container h2 {
  color: var(--success-9);
  margin-bottom: 0;
}
.reset__success--container p {
  margin-top: 0;
  color: var(--success-8);
}

.login__form--container {
  min-height: 100vh;
  display: grid;
  place-content: center;
}
.login__form--container .login__form--content {
  display: grid;
  gap: 0.5rem;
  max-width: 18rem;
  margin: 2rem 0;
}
.login__form--container .login__form--content header {
  display: grid;
  place-items: center;
}
.login__form--container .login__form--content header h2 {
  margin: 0.2rem 0;
}
.login__form--container .login__form--content header p {
  text-align: center;
}
.login__form--container .login__form--content main {
  display: grid;
  gap: 0.5rem;
}
.login__form--container .login__form--content main .form__input--content {
  display: grid;
  gap: 0.5rem;
}
.login__form--container .login__form--content main .form__error-back--content p {
  text-align: center;
  color: var(--error-6);
}
.login__form--container .login__form--content main .form__error-back--content p span {
  color: var(--error-7);
  font-weight: bold;
  font-style: italic;
}
.login__form--container .login__form--content main .form__button--content {
  display: grid;
  gap: 1rem;
}
.login__form--container .login__form--content main .form__button--content .button__reset--content {
  text-align: right;
}

.passwordChange__success--container {
  display: grid;
  place-content: center;
  min-height: 100vh;
  width: 100vw;
}
.passwordChange__success--container h2 {
  color: var(--font-brand);
}
.passwordChange__success--container > div {
  max-width: 30rem;
  box-shadow: 0px 0px 18px var(--neutral-2);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border-radius: 1rem;
}
.passwordChange__success--container > div p:nth-child(3) {
  text-align: justify;
}
.passwordChange__success--container > div span {
  font-style: italic;
  font-weight: bold;
  color: var(--brand-7);
}
.passwordChange__success--container > div .success--button {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.component__navbar--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1.5rem;
}

.component__sidebar--container {
  width: 3rem;
  background-color: white;
  height: 100%;
  position: absolute;
  left: 0;
  transition: width 0.7s ease;
  overflow-x: hidden;
}
.component__sidebar--container:hover {
  width: 30vw;
}
.component__sidebar--container .sidebar__header--container {
  display: flex;
  place-content: center;
  background-color: var(--brand-5);
  padding: 1rem;
}
.component__sidebar--container .sidebar__header--container button {
  background: none;
  border: none;
  color: var(--brand-9);
  cursor: pointer;
}
.component__sidebar--container .sidebar__items--container {
  background-color: var(--brand-4);
  display: grid;
  grid-template-columns: 3rem 1fr;
  align-items: center;
}
.component__sidebar--container .sidebar__items--container ul {
  height: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  align-items: center;
}
.component__sidebar--container .sidebar__items--container ul li {
  display: flex;
  align-items: center;
}
.component__sidebar--container .sidebar__items--container ul li > button {
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  cursor: pointer;
}
.component__sidebar--container .sidebar__items--container .item-logo > li {
  justify-content: center;
}
.component__sidebar--container .sidebar__items--container .item-logo > li > button {
  padding: 0.5rem 0.7rem;
}
.component__sidebar--container .sidebar__items--container .item-text > li {
  height: 100%;
}
.component__sidebar--container .sidebar__items--container .item-text > li > button {
  width: 95%;
  text-align: left;
  padding: 0.7rem;
}
.component__sidebar--container .sidebar__items--container .item-text > li > button:hover {
  background-color: var(--brand-5);
}

.item__select-item {
  background-color: var(--brand-5) !important;
}

.main__layout--container {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 3rem auto;
  grid-template-rows: min-content auto min-content;
  grid-template-areas: "navbar navbar" "sidebar children" "footer footer";
}
.main__layout--container .main__layout--navbar {
  grid-area: navbar;
  background-color: var(--brand-6);
}
.main__layout--container .main__layout--sidebar {
  grid-area: sidebar;
  position: relative;
  background-color: var(--neutral-1);
}
.main__layout--container .main__layout--children {
  grid-area: children;
  background-color: var(--brand-2);
}
.main__layout--container .main__layout--footer {
  grid-area: footer;
  background-color: var(--brand-5);
}/*# sourceMappingURL=App.css.map */