.filters {
  font-family: 'Arial', sans-serif;
  border: 1px solid var(--neutral-7);
  border-radius: 8px;
  // margin: 20px;
  background-color: var(--neutral-1);

  .filters__content {
    padding: 10px;

    .filters__accordion-item {
      margin-bottom: 10px;
      border: 1px solid var(--neutral-4);
      border-radius: 4px;

      .filters__accordion-header {
        padding: 10px;
        background-color: var(--neutral-3);
        cursor: pointer;
        border-bottom: 1px solid var(--neutral-4);

        &:hover {
          background-color: var(--neutral-4);
        }
      }

      .filters__accordion-content {
        padding: 10px;
        display: none;

        &--open {
          display: block;
        }

        .filters__brand {
          display: flex;
          flex-wrap: wrap;
          align-items: center;

          input[type="checkbox"] {
            margin-right: 5px;
          }

          label {
            background-color: var(--neutral-5);
            padding: 5px;
            border-radius: 4px;
            cursor: pointer;

            &.filters__checked {
              background-color: var(--brand-9);
              color: var(--font-light);
            }
          }
        }
      }
    }
  }
}