.filters {
  // font-family: 'Arial', sans-serif;
  // border: 1px solid var(--brand-7);
  // border-radius: 8px;
  // margin: 20px;
  background-color: var(--brand-1);

  .filters__content {
    padding: 10px;

    .filters__accordion-item {
      // margin-bottom: 10px;
      border          : 1px solid var(--brand-4);
      // border-radius: 4px;

      .filters__accordion-header {
        padding         : 10px;
        background-color: var(--brand-3);
        cursor          : pointer;
        // border-bottom: 1px solid var(--brand-4);

        &:hover {
          background-color: var(--brand-4);
        }
      }

      .filters__accordion-content {
        padding: 10px;
        display: none;

        &--open {
          display: block;
        }

        .filters__items {
          display              : flex;
          flex-wrap            : wrap;
          // align-items    : center;
          // justify-content   : space-evenly;
          // row-gap        : 0.8rem;

          .filters__checked-container {
            flex            : auto;
            background-color: var(--brand-4);
            padding         : 0.5rem;
            border          : 0.1px solid var(--brand-6);

            &--selected {
              background-color: var(--brand-9);
              color           : var(--font-light);
            }

            input[type="checkbox"] {
              margin-right: 5px;
            }

            label {
              // background-color: var(--brand-5);
              // padding         : 3px 5px;
              border-radius: 4px;
              cursor       : pointer;

              &.filters__checked {
                // background-color: var(--brand-9);
                // color           : var(--font-light);
              }
            }
          }
        }
      }
    }
  }
}