.pagination-buttons {
  display        : flex;
  justify-content: center;

  .pagination-buttons_container {
    overflow                : hidden;
    display                 : grid;
    grid-template-columns   : 3rem 1fr 3rem;
    gap                     : 0.5rem;
    // width                : 20rem;

    .pagination-buttons__button--back {}

    .pagination-numbers {
      display   : flex;
      flex-wrap : nowrap;
      overflow-x: hidden;
      border    : solid 1px var(--brand-9);

      .pagination-numbers__item {
        min-width: 2rem;

        .pagination-numbers_selected-button {
          background-color: var(--brand-6);
          color           : var(--font-light);
        }

        .button__text-container {
          margin     : auto;
          margin-left: none;
        }
      }

      // gap       : 0.5rem;
    }

    .pagination-buttons__button--left {}

  }
}