.showcase-min {
  position   : relative;
  // padding    : 0 1.5rem;
  // border  : 1px solid red;
  max-width  : 100%;
  overflow   : auto;

  &__content {
    display        : flex;
    gap            : 0.5rem;
    flex-wrap      : nowrap;
    white-space    : nowrap;
    overflow-x     : auto;
    scroll-behavior: smooth;
    white-space    : nowrap;

    // animation      : scroll 20s linear infinite;

    // @keyframes scroll {
    //   0% {
    //     transform: translateX(0);
    //   }

    //   100% {
    //     transform: translateX(-100%); // Ajusta según la anchura de tus elementos
    //   }
    // }


    &::-webkit-scrollbar {
      height: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--brand-9);
      border-radius   : 6px;
    }

    &::-webkit-scrollbar-track {
      background-color: var(--brand-2);
      border-radius   : 6px;
    }

    >div {
      position: relative;


      .showcase-min__card {
        // all             : unset;
        background-color            : var(--font-light);
        // padding               : 1rem;
        // border-radius            : 0.5rem;
        min-width                   : 5rem;
        max-width                   : 10rem;
        // display         : grid;
        // justify-content : center;
        // text-align      : center;
        // cursor             : pointer;
        border                      : 1px solid var(--brand-6);
        border-radius               : 0.5rem;
        user-select                 : none;
        outline                     : none;

        * {
          border-radius: 0.5rem;
          user-select  : none;
          outline      : none;
        }

      }
    }

  }

  &__button--left-container,
  &__button--right-container {
    position: absolute;
    top     : 0;
    height  : 100%;
    width   : 1.5rem;

    button {
      height          : 100%;
      width           : 100%;
      background-color: transparent;
      border          : none;
      background-color: #33333340;
      cursor          : pointer;
    }
  }

  &__button--left-container {
    left: 0;
  }

  &__button--right-container {
    right: 0;
  }
}