@import '../Input/userInput';

.layout__navbar-search {
  background-color: var(--brand-3);
  .search {
    width   : 95%;
    position: relative;


    @media (min-width: 768px) {
      width: 45%;

    }

    @media (min-width: 1200px) {
      width: 45%;

    }

    a {
      text-decoration: none;
    }

    .search-input {
      // background-color: red;
    }

    .search-list {
      width           : 100%;
      background-color: var(--brand-3);
      position        : absolute;
      z-index         : 2;

      >div {
        display: grid;
        gap    : 0.5rem;
        padding: 0.5rem;


        // top             : 0;
        // left            : 0;

        .search__card-content {
          display                    : grid;
          // display                 : flex;
          // grid-template-columns: 7rem 1fr;
          background-color           : var(--brand-1);
          padding                    : 0.5rem;

          .card__breadcrumb {
            white-space  : nowrap;
            overflow     : hidden;
            text-overflow: ellipsis;
            font-size    : x-small;
          }

          .card__main {
            display: flex;
            gap    : 0.5rem;

            .card__images {
              max-width  : 5rem;
              min-width  : 4rem;
              display    : grid;
              align-items: center;

              >img {
                width: 100%;
              }
            }

            .card__content {
              display              : grid;
              align-items          : center;
              width                : 100%;

              .card__title {
                color    : var(--font-brand);
                font-size: x-small;
              }

              .card__utils {
                display              : grid;
                grid-template-columns: 8rem 1fr;

                .card__utils-price {
                  display      : grid;
                  place-content: center;
                }

                .card__utils-button {
                  display        : grid;
                  justify-content: end;

                  button {
                    min-height: 1.8rem;
                  }
                }
              }
            }

          }
        }
      }
    }

    .search-view {
      display      : flex;
      justify-items: flex-end;
    }

  }
}