@import '../Input/userInput';

.layout__navbar-search {
  .search {
    width   : 95%;
    position: relative;

    @media (min-width: 768px) {
      width: 45%;

    }

    @media (min-width: 1200px) {
      width: 45%;

    }

    a {
      text-decoration: none;
    }

    .search-input {
      // background-color: red;
    }

    .search-list {
      width           : 100%;
      background-color: var(--brand-1);
      position        : absolute;

      >div {
        display: grid;
        gap    : 0.5rem;
        padding: 0.5rem;


        // top             : 0;
        // left            : 0;
        h4,
        h5 {
          margin : 0;
          padding: 0;
        }

        .search__card-content {
          display              : grid;
          grid-template-columns: 6rem 1fr;
          gap                  : 0.5rem;
          background-color     : #fff;
          padding              : 0.5rem;

          .card__breadcrumb{

          }

          .card__images {
            >img {
              width: 100%;
            }
          }

          .card__content {
            display           : grid;
            grid-template-rows: 1.5rem 1.8rem 2.5rem;
            gap               : 0.5rem;

            .card__title {
              color: var(--font-brand);
            }

            .card__utils {
              h5 {
                color: var(--font-dark);

              }

              display              : grid;
              grid-template-columns: 8rem 1fr;
            }
          }


        }
      }
    }

  }
}