/* Estilos para el scrollbar */
.messages-general__container {
  position        : fixed;
  top             : 20px;
  right           : 0;
  max-width       : 30%;
  padding         : 10px;
  background-color: var(--font-light);
  color           : #fff;
  border-radius   : 5px;
  box-shadow      : 0 0 10px rgba(0, 0, 0, 0.3);
  animation       : slideIn 0.5s ease-in-out forwards;
  max-height      : 90vh;
  overflow-y      : auto;
  z-index         : 8;
  display         : grid;
  gap             : 0.5rem;
  user-select     : none;
  outline         : none;

  .messages-general__card {
    padding    : 1rem;
    position   : relative;
    white-space: pre-line;
    text-align : justify;

    &.success {
      background-color: var(--success-6);
    }

    &.warning {
      background-color: var(--warning-6);
    }

    &.information {
      background-color: var(--information-6);
    }

    &.error {
      background-color: var(--error-6);
    }

    .close-button {
      position        : absolute;
      top             : 3px;
      right           : 3px;
      background-color: transparent;
      border          : none;
      color           : #fff;
      font-size       : 16px;
      cursor          : pointer;
    }
  }
}

/* Establecer animación de salida */
.error-container.hide {
  animation: slideOut 0.5s ease-in-out forwards;
  right    : -1%;
}

.error-container::-webkit-scrollbar {
  width        : 0.5rem;
  /* Ancho del scrollbar */
  height       : 12px;
  /* Altura del scrollbar para que aparezca a la izquierda */
  // overflow-x: hidden;
  /* Oculta el scrollbar horizontal */
  direction    : rtl;
  /* Cambia la orientación a derecha-izquierda */
  /* Ancho del scrollbar */
}

.error-container::-webkit-scrollbar-thumb {
  background-color: #888;
  /* Color de fondo del thumb (barra deslizante) */
  // border-radius: 6px; /* Bordes redondeados del thumb */
}

.error-container::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  /* Color de fondo del track (barra completa) */
}

/* Estilos adicionales para Firefox */
/* Es necesario agregar esto para que los estilos se apliquen correctamente en Firefox */
.error-container * {
  scrollbar-color: #888 #f1f1f1;
  scrollbar-width: thin;
}

@keyframes slideIn {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100%);
  }
}