.login__form--container {
  height       : 100vh;
  width        : 100vw;
  display      : grid;
  place-content: center;

  form {
    display: grid;
    gap    : 0.5rem;
    max-width: 18rem;

    header {
      display    : grid;
      place-items: center;

      h2 {
        margin: 0.2rem 0;
      }
    }

    main {
      display: grid;

      .form__input--content{
        display: grid;
        gap    : 0.5rem;
      }

      .form__button--content {
        display: grid;
        gap    : 1rem;

        .button__reset--content {
          text-align: right;
        }
      }
    }
  }
}