.breadcrumb {
  display           : flex;
  gap               : 0.2rem;
  // white-space: nowrap;
  // overflow: hidden;
  // text-overflow: ellipsis;
  display           : -webkit-box;
  -webkit-line-clamp: 1;
  /* Número de líneas a mostrar */
  -webkit-box-orient: horizontal;
  /* Orientación vertical */
  overflow          : hidden;
  text-overflow     : ellipsis;
  white-space       : normal;

  a {
    // text-overflow: ellipsis;

  }

  .breadcrumb__section {
    display: flex;
    gap    : 0.2rem;
  }
}