.content {
  display       : flex;
  flex-direction: column;
  gap           : 0.5rem;

  &.desktop {
    width: 60%;
  }

  &.tablet {
    width: 50%;
  }

  &__attributes {

    &-card {
      all            : unset;
      padding        : 0.3rem;
      display        : grid;
      justify-content: center;
      text-align     : center;
      cursor         : pointer;
      width          : 100%;

      &-image {

        >img {
          height   : 6rem;
          // width : auto;
        }
      }

      &.disabled {
        opacity: 0.5;
        cursor : default;
      }

      .no-stock {
        position  : absolute;
        top       : 0;
        right     : 0;
        color     : var(--error-5);
        font-style: italic;
        font-size : x-small;
        margin    : 3px 10px;
      }
    }

  }

  &__id {
    margin-top: 1rem;
  }

  &__title {}

  &__brand {
    display: flex;
    gap    : 0.5rem;
  }


  &__price {
    color: var(--brand-9);
  }

  &__benefits {}

}