.custom-select {
  appearance      : none;
  background-color: #ffffff;
  border          : 1px solid #cccccc;
  border-radius   : 4px;
  font-size       : 16px;
  padding         : 8px 12px;
  width           : 100%;
  max-width       : 300px;
  /* Ajusta el ancho máximo según tus necesidades */
  box-sizing      : border-box;
  cursor          : pointer;
  min-height      : 2.5rem;

  &:hover {
    border-color: #aaaaaa;
  }

  &:focus {
    outline     : none;
    border-color: var(--information-6);
    box-shadow  : 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
}