// src/App.scss
.vitrine {
  display: flex;
  overflow: hidden;
  margin: 0 auto;
  // max-width: 600px;
  touch-action: pan-x;

  .product {
    // flex: 0 0 100%;
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
  }

  button {
    flex: 0 0 50px;
    font-size: 18px;
    cursor: pointer;
  }
}
