.pass-change__form--container {
  min-height      : 100vh;
  // width        : 100vw;
  display         : grid;
  place-content   : center;

  .pass-change__form--content {
    display  : grid;
    gap      : 0.5rem;
    max-width: 18rem;
    margin   : 2rem 0;

    header {
      display    : grid;
      place-items: center;

      h2 {
        margin: 0.2rem 0;
      }

      p {
        text-align: center;
      }
    }

    main {
      display: grid;
      gap    : 0.5rem;

      .form__input--content {
        display: grid;
        gap    : 0.5rem;
      }

      .form__error-back--content {
        ul {
          margin : 0;
          padding: 0;

          span {
            display   : block;
            text-align: justify;
            color     : var(--error-6);
            font-size : small;
          }
        }
      }

      .form__button--content {
        display: grid;
        gap    : 1rem;

        .button__reset--content {
          text-align: right;
        }
      }
    }
  }
}