.carrusel {
  display : grid;
  position: relative;

  .carrusel__button-left {
    position: absolute;
    top     : 50%;

    >button {
      width: 1.5rem;
      height: 1rem;
    }
  }

  .carrusel__image_container {
    display        : flex;
    justify-content: space-around;
    gap            : 1rem;

    a {
      width: 100%;

      img {
        width        : 100%;
        border-radius: 0.5rem;
      }
    }
  }

  .carrusel__button-right {
    position: absolute;
    top     : 50%;
    right   : 0;

    >button {
      width: 1.5rem;
      height: 1rem;
    }
  }
}