.navbar__login-container {

  .navbar__login-content {
    all          : unset;
    display      : flex;
    gap          : 0.5rem;
    align-content: center;
    cursor       : pointer;

    .navbar__login-logo {
      display      : grid;
      align-content: center;
    }

    .navbar__login-text {
      >div {
        display       : flex;
        flex-direction: column;
        align-items   : center;
      }
    }

  }

  .navbar__login-modal {
    position              : fixed;
    top                   : 0;
    left                  : 0;
    right                 : 0;
    bottom                : 0;
    background         : transparent;
    cursor                : pointer;
    visibility            : hidden;
    opacity               : 0;
    transition            : all 0.15s ease-in;
    z-index               : 1;

    &.isOpenModalLogin {
      visibility         : visible;
      opacity            : 1;
    }


    .navbar__login-modal-container {
      position           : absolute;
      top                : 2.9rem;
      right              : 0.5rem;
      cursor             : default;
      // height          : 6rem;
      // width           : 13rem;
      // background-color: var(--container-color);
      // border          : 1px solid var(--body-color);
      // box-shadow      : var(--container-shadow);
      border-radius      : 0.2rem;
      padding            : 0.5rem 1.5rem;
      // display         : grid;

      background-color: var(--brand-2);;

      // width           : 100vw;
      // height          : 100vh;
      .navbar__login-modal-content {
        ul {
          margin    : 0;
          padding   : 0;
          list-style: none;
          display: grid;
          gap: 0.3rem;
        }

      }
    }


  }

}