@import './information/style/information';
@import './password/style/password';

.account {
  width              : 100%;
  height             : 100%;
  display            : flex;
  flex-direction     : column;
  // justify-content : center;
  align-items        : center;
  gap                : 1rem;

  .account__header {}

  .account__information,
  .account__password {
    background-color: var(--brand-1);
    box-shadow      : 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius   : 0.5rem;
    padding         : 1.25rem;
    min-width       : 17rem;
  }
}