.component__navbar--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1.5rem;
  flex-wrap: wrap;
}
.component__navbar--container .navbar__search--container {
  min-width: 17rem;
  width: 100%;
  max-width: 30rem;
}
.component__navbar--container .navbar__logo--container {
  display: grid;
}

.section__main-left {
  max-height: 100vh;
  display: grid;
  grid-template-rows: 4.4rem 1fr 8rem;
  background-color: var(--brand-5);
}
.section__main-left .main__left-header {
  height: 4.4rem;
  background-color: var(--brand-6);
  min-width: 14rem;
  padding-right: 1rem;
  position: relative;
}
.section__main-left .main__left-header > div {
  position: absolute;
  right: 2rem;
  top: 0.5rem;
}
.section__main-left .main__left-content {
  background-color: var(--brand-4);
  overflow-y: auto;
  display: grid;
  gap: 0.5rem;
  grid-auto-rows: min-content;
}
.section__main-left .main__left-content > div {
  padding: 0.4rem 1rem;
  display: flex;
  justify-content: space-between;
}
.section__main-left .main__left-content > div:hover {
  background-color: var(--neutral-2);
}
.section__main-left .main__left-footer {
  background-color: var(--brand-7);
}

.section__main-right {
  max-height: 100vh;
  padding: 1rem 1rem 1rem 0.3rem;
  overflow-y: auto;
  background-color: var(--brand-4);
  max-width: 45vw;
  width: 45vw;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.section__main-right a {
  display: inline-block;
  color: var(--font-brand);
  text-decoration: none;
}
.section__main-right a:after {
  content: "";
  display: block;
  margin: auto;
  height: 2px;
  width: 0px;
  transition: all 0.5s;
}
.section__main-right a:hover:after {
  width: 100%;
  background: var(--font-brand);
}
.section__main-right > .right__card-container {
  background-color: var(--brand-2);
  flex: auto;
  display: grid;
  justify-content: center;
  grid-template-rows: 1fr 1.5rem;
  gap: 0.5rem;
  padding: 1rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.131);
}
.section__main-right > .right__card-container > .right__card-content {
  display: grid;
  grid-template-rows: min-content 15rem;
  gap: 0.5rem;
  overflow: hidden;
  width: 12rem;
}
.section__main-right > .right__card-container > .right__card-content > h3 {
  margin: 0;
  padding: 0;
  text-align: center;
}
.section__main-right > .right__card-container > .right__card-content > div {
  display: grid;
  gap: 0.3rem;
  grid-auto-rows: min-content;
}
.section__main-right > .right__card-container > .right__card-content > div > h5 {
  margin: 0;
  padding: 0;
}

.sidebar__container .sidebar__icon-container {
  position: absolute;
  left: 1%;
  top: 0;
  margin: 1.4rem;
  transform: translate3d(0, 0, 0);
  transition: transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
  z-index: 1002;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.sidebar__container .sidebar__icon-container.is-active {
  background-color: none;
}
.sidebar__container .sidebar__icon-container.is-active .-top {
  transform: translateY(200%) rotate(45deg) !important;
}
.sidebar__container .sidebar__icon-container.is-active .-mid {
  opacity: 0;
}
.sidebar__container .sidebar__icon-container.is-active .-bottom {
  transform: translateY(-200%) rotate(135deg) !important;
}
.sidebar__container .sidebar__icon-container ._layer {
  background: var(--brand-2);
  margin-bottom: 4px;
  border-radius: 2px;
  width: 28px;
  height: 4px;
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
  pointer-events: none;
}
.sidebar__container .sidebar__icon-container:hover .-top {
  transform: translateY(-100%);
}
.sidebar__container .sidebar__icon-container:hover .-bottom {
  transform: translateY(100%);
}
.sidebar__container .sidebar__content {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  transform: translate3d(0px, -100%, 0px);
  transition: transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
  width: 100%;
  z-index: 2;
  cursor: pointer;
  opacity: 0;
}
.sidebar__container .sidebar__content.is-active {
  transform: translate3d(0px, 0px, 0px);
  opacity: 1;
}
.sidebar__container .sidebar__content.is-active .sidebar__main {
  cursor: default;
  background-color: antiquewhite;
  width: -moz-min-content;
  width: min-content;
}
.sidebar__container .sidebar__content.is-active .sidebar__main .sidebar__section-container {
  background-color: rgb(248, 204, 146);
  height: 100vh;
  display: grid;
  grid-template-columns: 15rem auto;
}

.main__layout--container {
  display: grid;
  min-height: 100vh;
  grid-template-rows: min-content 1fr min-content;
  background-color: var(--brand-2);
  grid-template-areas: "navbar" "children" "footer";
}
.main__layout--container .main__layout--navbar {
  grid-area: navbar;
  background-color: var(--brand-6);
}
.main__layout--container .main__layout--children {
  grid-area: children;
  background-color: var(--brand-1);
  display: grid;
  width: 100vw;
}
.main__layout--container .main__layout--children > div {
  height: 100%;
  width: 100%;
  background-color: antiquewhite;
  justify-self: center;
}
@media (min-width: 1300px) {
  .main__layout--container .main__layout--children > div {
    width: 80rem;
  }
}
.main__layout--container .main__layout--footer {
  grid-area: footer;
  background-color: var(--brand-5);
}

.login__form--container {
  min-height: 100vh;
  display: grid;
  place-content: center;
}
.login__form--container .login__form--content {
  display: grid;
  gap: 0.5rem;
  max-width: 18rem;
  margin: 2rem 0;
}
.login__form--container .login__form--content header {
  display: grid;
  place-items: center;
}
.login__form--container .login__form--content header > h2 {
  margin: 0.2rem 0;
}
.login__form--container .login__form--content header p {
  text-align: center;
}
.login__form--container .login__form--content main {
  display: grid;
  gap: 0.5rem;
}
.login__form--container .login__form--content main .form__input--content {
  display: grid;
  gap: 0.5rem;
}
.login__form--container .login__form--content main .form__error-back--content ul {
  margin: 0;
  padding: 0;
}
.login__form--container .login__form--content main .form__error-back--content ul span {
  display: block;
  text-align: justify;
  color: var(--error-6);
  font-size: small;
}
.login__form--container .login__form--content main .form__button--content {
  display: grid;
  gap: 1rem;
}

.spinner {
  animation: rotate 2s linear infinite;
}
.spinner .path {
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
.login__success--container {
  background-color: var(--success-2);
  display: grid;
  place-items: center;
  position: fixed;
  top: 2%;
  left: 20%;
  right: 20%;
  border-radius: 1rem;
  border: 1px solid var(--success-3);
}
.login__success--container h2 {
  color: var(--success-9);
  margin-bottom: 0;
}
.login__success--container p {
  margin-top: 0;
  color: var(--success-8);
}

.registre__form--container {
  min-height: 100vh;
  display: grid;
  place-content: center;
}
.registre__form--container .registre__form--content {
  display: grid;
  gap: 0.5rem;
  max-width: 18rem;
  margin: 2rem 0;
}
.registre__form--container .registre__form--content header {
  display: grid;
  place-items: center;
}
.registre__form--container .registre__form--content header h2 {
  margin: 0.2rem 0;
}
.registre__form--container .registre__form--content header p {
  text-align: center;
}
.registre__form--container .registre__form--content main {
  display: grid;
  gap: 0.5rem;
}
.registre__form--container .registre__form--content main .form__input--content {
  display: grid;
  gap: 0.5rem;
}
.registre__form--container .registre__form--content main .form__error-back--content ul {
  margin: 0;
  padding: 0;
}
.registre__form--container .registre__form--content main .form__error-back--content ul span {
  display: block;
  text-align: justify;
  color: var(--error-6);
  font-size: small;
}
.registre__form--container .registre__form--content main .form__button--content {
  display: grid;
  gap: 1rem;
}
.registre__form--container .registre__form--content main .form__button--content .button__reset--content {
  text-align: right;
}

.registre__success--container {
  display: grid;
  place-content: center;
  min-height: 100vh;
  width: 100vw;
}
.registre__success--container h2 {
  color: var(--font-brand);
}
.registre__success--container > div {
  max-width: 30rem;
  box-shadow: 0px 0px 18px var(--neutral-2);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border-radius: 1rem;
}
.registre__success--container > div p:nth-child(3) {
  text-align: justify;
}
.registre__success--container > div span {
  font-style: italic;
  font-weight: bold;
  color: var(--brand-7);
}
.registre__success--container > div .success--button {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.pass-change__form--container {
  min-height: 100vh;
  display: grid;
  place-content: center;
}
.pass-change__form--container .pass-change__form--content {
  display: grid;
  gap: 0.5rem;
  max-width: 18rem;
  margin: 2rem 0;
}
.pass-change__form--container .pass-change__form--content header {
  display: grid;
  place-items: center;
}
.pass-change__form--container .pass-change__form--content header h2 {
  margin: 0.2rem 0;
}
.pass-change__form--container .pass-change__form--content header p {
  text-align: center;
}
.pass-change__form--container .pass-change__form--content main {
  display: grid;
  gap: 0.5rem;
}
.pass-change__form--container .pass-change__form--content main .form__input--content {
  display: grid;
  gap: 0.5rem;
}
.pass-change__form--container .pass-change__form--content main .form__error-back--content ul {
  margin: 0;
  padding: 0;
}
.pass-change__form--container .pass-change__form--content main .form__error-back--content ul span {
  display: block;
  text-align: justify;
  color: var(--error-6);
  font-size: small;
}
.pass-change__form--container .pass-change__form--content main .form__button--content {
  display: grid;
  gap: 1rem;
}
.pass-change__form--container .pass-change__form--content main .form__button--content .button__reset--content {
  text-align: right;
}

.pass-change__success--container {
  display: grid;
  place-content: center;
  min-height: 100vh;
  width: 100vw;
}
.pass-change__success--container h2 {
  color: var(--font-brand);
}
.pass-change__success--container > div {
  max-width: 30rem;
  box-shadow: 0px 0px 18px var(--neutral-2);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border-radius: 1rem;
}
.pass-change__success--container > div p:nth-child(3) {
  text-align: justify;
}
.pass-change__success--container > div span {
  font-style: italic;
  font-weight: bold;
  color: var(--brand-7);
}
.pass-change__success--container > div .success--button {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.reset__form--container {
  min-height: 100vh;
  display: grid;
  place-content: center;
}
.reset__form--container .reset__form--content {
  display: grid;
  gap: 0.5rem;
  max-width: 18rem;
  margin: 2rem 0;
}
.reset__form--container .reset__form--content header {
  display: grid;
  place-items: center;
}
.reset__form--container .reset__form--content header h2 {
  margin: 0.2rem 0;
}
.reset__form--container .reset__form--content header p {
  text-align: center;
}
.reset__form--container .reset__form--content main {
  display: grid;
  gap: 0.5rem;
}
.reset__form--container .reset__form--content main .form__input--content {
  display: grid;
  gap: 0.5rem;
}
.reset__form--container .reset__form--content main .form__error-back--content ul {
  margin: 0;
  padding: 0;
}
.reset__form--container .reset__form--content main .form__error-back--content ul span {
  display: block;
  text-align: justify;
  color: var(--error-6);
  font-size: small;
}
.reset__form--container .reset__form--content main .form__button--content {
  display: grid;
  gap: 1rem;
}
.reset__form--container .reset__form--content main .form__button--content .button__reset--content {
  text-align: right;
}

.reset__success--container {
  background-color: var(--success-2);
  display: grid;
  place-items: center;
  position: fixed;
  top: 2%;
  left: 20%;
  right: 20%;
  border-radius: 1rem;
  border: 1px solid var(--success-3);
}
.reset__success--container h2 {
  color: var(--success-9);
  margin-bottom: 0;
}
.reset__success--container p {
  margin-top: 0;
  color: var(--success-8);
}/*# sourceMappingURL=App.css.map */