.maintenance-container {
  display: grid;
  align-items: center;
  justify-content: center;
}

.maintenance-message {
  text-align: center;
  margin-bottom: 20px;
}

.maintenance-message h1 {
  font-size: 24px;
  color: #333;
}

.maintenance-message p {
  font-size: 16px;
  color: #666;
}

.maintenance-info {
  max-width: 800px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.maintenance-info p {
  margin-bottom: 10px;
}

.maintenance-info strong {
  font-weight: bold;
}

/* Estilos para el botón */
.button-dark {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-dark:hover {
  background-color: #555;
}
