.account-information {

  &__header {
    display              : grid;
    grid-template-columns: 1fr 3.2rem;
    margin-bottom        : 0.8rem;

    >button {
      min-height: 1.5rem !important;
    }
  }

  &__main {

    &-render {
      display: grid;
      gap    : 0.5rem;

      >div {
        display: flex;
        gap    : 0.5rem;
      }
    }

    &- {
      display: grid;
      gap    : 1rem;

      &form {
        display: grid;
        gap    : 0.5rem;
      }

      &button {}
    }

  }
}