.verify-email-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.verify-email-title {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.verify-email-button {
  margin-top: 2rem;
}
