@import './navbar/navbar';
@import './sidebar/sidebar';
@import './footer/footer';

.main__layout--container {
  display              : grid;
  min-height           : 100vh;
  grid-template-columns: 3rem auto;
  grid-template-rows   : min-content auto min-content;
  background-color     : var(--brand-2);

  &.add {
    grid-template-areas:
      "navbar navbar"
      "sidebar children"
      "footer footer";
  }

  &.remove {
    grid-template-areas:
      "navbar navbar"
      "children children"
      "footer footer";
  }


  @mixin main_layout($fields_each) {
    grid-area: $fields_each;

    @if $fields_each==navbar {
      background-color: var(--brand-6);
    }

    @else if $fields_each==sidebar {
      position        : relative;
      background-color: var(--neutral-1);
    }

    @else if $fields_each==children {
      justify-self    : center;
      background-color: var(--brand-2);

      >div {
        height          : 100%;
        width           : 80rem;
        background-color: antiquewhite;
      }
    }

    @else if $fields_each==footer {
      background-color: var(--brand-5);
    }
  }

  $fields: navbar,
  sidebar,
  children,
  footer;

  @each $fields_each in $fields {
    .main__layout--#{$fields_each} {
      @include main_layout($fields_each)
    }
  }
}