@import './navbar/navbar';
@import './sidebar/sidebar';
@import './footer/footer';

.main__layout--container {
  display           : grid;
  min-height        : 100vh;
  grid-template-rows: min-content 1fr min-content;
  background-color  : var(--brand-2);
  grid-template-areas:
    "navbar"
    "children"
    "footer";

  @mixin main_layout($fields_each) {
    grid-area: $fields_each;

    @if $fields_each==navbar {
      background-color: var(--brand-6);
    }

    @else if $fields_each==children {
      background-color: var(--brand-2);
      display         : grid;
      justify-content : center;
      width           : 100%;


      >div {
        height          : 100%;
        background-color: antiquewhite;

        @media (min-width: 1200px) {
          width: 80rem;
        }
      }
    }

    @else if $fields_each==footer {
      background-color: var(--brand-5);
    }
  }

  $fields: navbar,
  children,
  footer;

  @each $fields_each in $fields {
    .main__layout--#{$fields_each} {
      @include main_layout($fields_each)
    }
  }
}