@mixin status($type) {
    @if $type==error {
        >span {
            border: 1px solid var(--error-6);
        }

        input::placeholder {
            color: var(--error-4);
        }
    }

    @else if $type==brand {
        >span {
            border: 1px solid var(--brand-6);
        }

        input::placeholder {
            color: none;
        }
    }
}

.input {
    .input_error {
        @include status(error);
    }

    .input_brand {
        @include status(brand);
    }

    >div {
        >span {
            display         : flex;
            gap             : 0.3rem;
            border-radius   : 1rem;
            height          : 1.8rem;
            padding         : 4px 11px;
            background-color: #ffffff;

            >span {
                display    : flex;
                align-items: center;
            }

            >input {
                padding      : 0;
                border       : none;
                border-radius: 0;
                outline      : none;
                margin       : 0;
                width        : 100%;
            }
        }
    }

    >div:nth-child(2) {
        >div {
            >div {
                >span {
                    color    : var(--error-6);
                    font-size: small;
                }
            }
        }
    }
}