.list-product {
  position: relative;
  display : flex;
  gap     : 0.5rem;


  &__filter {
    background-color: antiquewhite;
    max-height      : 89vh;
    width           : 30%;
    max-width       : 30%;
    height          : 89vh;

    &.phone {
      &.open {
        position  : fixed;
        top       : 0;
        left      : 0;
        max-height: 100vh;
        width     : 100%;
        max-width : 100%;
        height    : 100vh;
      }

      &.close {
        display: none;
      }
    }
  }

  &__content {
    display   : grid;
    width     : 100%;
    padding   : 1rem 0.5rem;
    overflow-y: auto;
    gap       : 1rem;

    .list-product__header {
      display        : flex;
      flex-direction : column;
      justify-content: space-between;
      gap            : 0.5rem;

      .header__group {
        width         : 100%;
        display       : flex;
        flex-direction: column;

        &-breadcrumb {}

        &-totalizer {}
      }

      .header__button {
        display: flex;
        gap    : 1rem;

        &-close {
          position: fixed;
          top     : 0;
          right   : 0;
          margin  : 1rem;
        }
      }

      .header__pagination {}


    }

    .list-product__card {
      display        : grid;
      justify-content: space-between;
      row-gap        : 1rem;
      width          : 100%;

      &.phone {
        grid-template-columns: repeat(auto-fit, minmax(9rem, 9rem));
      }

      &.tablet {
        grid-template-columns: repeat(auto-fit, minmax(10rem, 10rem));
      }

      &.desktop {
        grid-template-columns: repeat(auto-fit, minmax(11rem, 14rem));
      }
    }

    .list-product__footer {
      .footer__pagination {}
    }
  }

}