.list-product__container {
  position: relative;
  display : flex;
  gap     : 0.5rem;


  .list-product__filter {
    background-color: antiquewhite;
    max-height      : 89vh;
    width           : 30%;
    max-width       : 30%;
    height          : 89vh;

    .filters {
      overflow-y: auto;
      height    : 100%;
    }
  }

  .list-product__content {
    display   : grid;
    width     : 100%;
    padding   : 1rem 0.5rem;
    overflow-y: auto;
    gap       : 1rem;

    .list-product__header {
      display              : grid;
      grid-template-columns: 40% 20% 40%;

      .list-product__breadcrumb {}

      .list-product__pagination {}

      .list-product__totalizer {}

    }

    .list-product__card {
      display        : grid;
      justify-content: space-between;
      row-gap        : 1rem;
      width          : 100%;

      &.phone {
        grid-template-columns: repeat(auto-fit, minmax(9rem, 9rem));
      }

      &.tablet {
        grid-template-columns: repeat(auto-fit, minmax(10rem, 10rem));

      }

      &.desktop {
        grid-template-columns: repeat(auto-fit, minmax(11rem, 14rem));

      }

      // gridTemplateColumns: `repeat(auto-fit, minmax(9rem, ${mediaQuery === 'phone' ? '9rem' : mediaQuery === 'tablet' ? '15rem' : '20rem'}))`,
      //  justifyContent: 'space-between',
    }

    .list-product__footer {
      .list-product__breadcrumb {}
    }
  }

}