@import './sidebarNavigation';

.sidebar {

  .sidebar__content {
    background-color: rgba(0, 0, 0, 0.5);
    position        : fixed;
    top             : 0;
    left            : 0;
    transform       : translate3d(0px, -100%, 0px);
    transition      : transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
    width           : 100%;
    z-index         : 2;
    cursor          : pointer;
    opacity         : 0;

    &.is-active {
      transform: translate3d(0px, 0px, 0px);
      opacity  : 1;

      .sidebar__main {
        cursor          : default;
        background-color: antiquewhite;
        width           : min-content;

        .sidebar__section {
          background-color     : rgb(248, 204, 146);
          height               : 100vh;
          display              : grid;
          grid-template-columns: 15rem auto;

          @media (max-width: 410px) {
            grid-template-columns: 100vw;
          }

        }
      }
    }
  }
}