.sidebar__section-left {
  max-height        : 100vh;
  display           : grid;
  grid-template-rows: 3.5rem 1fr 8rem;
  background-color  : var(--brand-5);

  &.hide {
    @media (max-width: 538px) {
      display: none;
    }
  }

  .sidebar__section-left-header {
    padding         : 0 1rem;
    background-color: var(--brand-6);


    .sidebar__section-left-header-content {
      display        : flex;
      align-items    : center;
      justify-content: space-between;
    }
  }

  .sidebar__section-left-main {
    background-color: var(--brand-4);
    overflow-y      : auto;
  }

  .sidebar__section-left-footer {
    background-color: var(--brand-7);
  }
}

.section__main-right {
  max-height        : 100vh;
  display           : grid;
  grid-template-rows: min-content 1fr;

  @media (min-width: 539px) {
    max-width: 45vw;
    width    : 45vw;
  }

  .sidebar__section-right-header {
    display         : flex;
    justify-content : space-around;
    height          : 3.5rem;
    background-color: var(--brand-6);
    align-items     : center;
    gap             : 0.5rem;


    .right__header-department {}

    @media (min-width: 1024px) {
      .right__button-back {
        display: none;
      }
    }
  }


  .sidebar__section-right-card-container {
    overflow-y: auto;

    // .right__card-container {
    padding           : 0.5rem;
    -webkit-columns   : 11rem;
    columns           : 11rem;
    -webkit-column-gap: 0.5rem;
    column-gap        : 0.5rem;

    .right__card-content {
      -webkit-column-break-inside: avoid;
      break-inside               : avoid-column;
      margin-bottom              : 0.5rem;

      padding   : 20px;
      background: #fff;
    }
  }

  // }

}